<ng-content select="h4"></ng-content>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Week</th>
    <th scope="col" colspan="2">Regular</th>
    <th scope="col" colspan="2">Diesel</th>
    <th scope="col" colspan="2">Premium</th>
  </tr>
  </thead>
  <tbody>
  <ng-content select="tr"></ng-content>
  </tbody>
</table>
