<th scope="row">{{row.name}}</th>
<td>{{row.regular.used}}/{{row.regular.available}}</td>
<td>{{row.regular.used/row.regular.available|percent}}</td>
<td>{{row.diesel.used}}/{{row.diesel.available}}</td>
<td>{{row.diesel.used/row.diesel.available|percent}}</td>
<td>{{row.premium.used}}/{{row.premium.available}}</td>
<td>{{row.premium.used/row.premium.available|percent}}</td>
