<div class="container">
  <div [ngStyle]="{marginTop:'20px'}">
    <img src="../../assets/img/pttLogo.png" alt="logo" [ngStyle]="{height:'120px'}">
  </div>
<!--  Total Status-->
  <div class="card">
    <div class="card-body">
      <h3 class="text-center title_db">Annual Month Overall Data of PTT</h3>
      <div class="row">
        <div class="col">
          <app-total [status]="status[0]">
            <h4>Regular</h4>
            <p>Utilization of Regular</p>
          </app-total>
        </div>
        <div class="col">
          <app-total [status]="status[1]">
            <h4>Diesel</h4>
            <p>Utilization of Diesel</p>
          </app-total>
        </div>
        <div class="col">
          <app-total [status]="status[2]">
            <h4>Premium</h4>
            <p>Utilization of Premium</p>
          </app-total>
        </div>
      </div>
    </div>
  </div>
<!--  All Branch-->
  <div class="card mt-4 mb-5">
    <div class="card-body">
      <h3 class="text-center title_db">Data From each Branch</h3>
      <span app-branch>
            <h4 class="branch">Branch A</h4>
            <tr  app-week-row *ngFor="let row of branchA" [row]="row"></tr>
      </span>
      <span app-branch>
            <h4 class="branch">Branch B</h4>
            <tr  app-week-row *ngFor="let row of branchB" [row]="row"></tr>
      </span>
    </div>
  </div>
</div>
