<div class="card">
  <div class="card-body">
    <div [class]="{total_header_green:isGreen,total_header_red:isRed}">
      <ng-content select="h4"></ng-content>
    </div>
    <div>
      <h3>{{status.used}}/{{status.available}} ({{calculatePercent()|percent:'2.2-2'}})</h3>
      <ng-content select="p"></ng-content>
      <div class="progress">
        <div class="progress-bar" [class]="{progress_green:isGreen,progress_red:isRed}" role="progressbar"
             [style]="{width:calculatePercent()|percent:'2.2-2'}"
             aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</div>

