.total_header_green {
  background-color: #06B84B;
  color: white;
  padding: 10px;
}

.total_header_red {
  background-color: #F60F5F;
  color: white;
  padding: 10px;
}

.progress_red {
  background-color: #F60F5F;
}

.progress_green {
  background-color: #06B84B;
}
